@media screen and (max-width:576px){
    .nav-main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
    .nav-right{
        display: block;
        font-size: 25px;
        font-weight: 900;
    }
    .nav-left button{
        display: none;
    }
    /* header section */
    .banner-main{
        width: 100%;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        padding: 40px 5px;
    }
    header{
      height: auto;
    }
    /* card section */
    .card-sec-container{
        width: 100%;
    }
    .card-main{
        width: 100%;
        height: auto;
        padding: 10px;
        flex-direction: column;
        background-image: linear-gradient(to bottom, white , rgba(176, 176, 176, 0.146));
    }
    .card-main img{
        padding: 25px;
    }
    .left-text-card{
        width: 100%;
        padding: 10px;
     }
     
 .card-main2{
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    background-image: linear-gradient(to bottom, white , rgba(176, 176, 176, 0.146));
}
.card-main2 img{
    padding: 20px;
}
  /* youtube section */
  .y-container{
    width: 100%;
    height: auto;
   }
   .y-text{
    width: 80%;
    text-align: center;
    margin: 0 auto;
   }
   .y-link-vdo{
    width: 99%;
   }
   .y-link-vdo iframe{
    width: 90%;
    border: none;
    border-radius: 10px;
   }
      /* colorrful section */
      .c-container{
        width: 100%;
       }
       .text-color{
        width: 98%;
        padding:0px 20px ;
       }
       .card-content{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
       }
        /* next target section */
   .next-container{
    width: 100%;
   }
   .next-text{
    width: 80%;
   }
   .card-o-content{
    width: 80%;
   }
   .card-o{
    flex-direction: column;
    text-align: center;
   }
   .r-as{
    margin: 0 auto;
   }
   .n-as{
    margin: 0 auto;
   }
   .m-as{
     margin: 0 auto;
   }
     /* handshake section  */
     .hand-main{
        width: 100%;
        height: auto;
       }
       .input{
        width: 100%;
        height: auto;
       }
       .input input{
        width: 100%;
        height: auto;
       }
       .input button{
         margin-top: 20px;
       }
       /* footer  */
       .footer-main{
        height: auto;
        flex-direction: column;
        text-align: center;
        margin: 30px auto;
       }
       .image{
        margin-top: 20px;
       }
}